        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }
        header {
            background-color: #ffffff;
            color: black;
            padding: 10px 0;
            text-align: center;
        }
        h1 {
            margin: 0;
        }
        .container {
            background-color: #fffff8;
            border-radius: 8px;
            padding: 20px;
            margin: 20px 0;
        }
        footer {
            text-align: center;
            font-size: small;
            margin-top: 20px;
            color: #ffffff;
        }
        nav a {
            margin: 0 15px;
            color: #fffff8;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 5px 0;
        }
